body{
    margin:0px;
    /* display:flex;
    flex-grow:1; */
}
.container{
    display:flex;
    height:100vh;
}
/* To create TOC this link is followed: 
https://css-tricks.com/how-to-animate-the-details-element/#:~:text=Turn%20off%20the%20default%20triangle%3A%20details%20summary%3A%3A-webkit-details-marker%20%7B,rotate%20%2890deg%29%3B%20%7D.%20This%20only%20animates%20the%20triangle. */

.toc_sidebar{
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink:0;
    width:10px;
    background: #5b5a5a;
    color:#565656
}
.toc_sidebar:hover {
    background: rgb(109, 108, 108);
    color:rgb(130, 130, 130)
}
.toc{
    /* background: rgb(22, 22, 22); */
    display:flex;
    flex-direction: column;
    background: #222;
    font-weight:bold;
    /* width:400px; */
    width:25%;
    flex-shrink:0;
    padding-top:20px;
    padding-left:0px;
    margin:0px;
    /* list-style:none; */
    /* position:absolute; */
    /* display:flex; */
    overflow-y:scroll;
    /* overflow-x:hidden; */
    /* flex-wrap:wrap; */
    scrollbar-width: none;
}
.toc_copy{
    /* background: rgb(22, 22, 22); */
    display:flex;
    flex-direction: column;
    background: #222;
    font-weight:bold;
    /* width:400px; */
    width:25%;
    flex-shrink:0;
    padding-top:20px;
    padding-left:0px;
    margin:0px;
    /* list-style:none; */
    /* position:absolute; */
    /* display:flex; */
    overflow-y:scroll;
    /* overflow-x:hidden; */
    /* flex-wrap:wrap; */
    scrollbar-width: none;
}
/* .toc_copy{
    width:50%;
} */
.toc details {
  margin: 0 auto ;
  padding:0;
  background: #282828;
  margin-bottom: .5rem;
  box-shadow: 0 .1rem 1rem -.5rem rgba(0,0,0,.4);
  /* border-radius: 5px; */
  overflow: hidden;
}
.toc_copy details {
    margin: 0 auto ;
    padding:0;
    background: #282828;
    margin-bottom: .5rem;
    box-shadow: 0 .1rem 1rem -.5rem rgba(0,0,0,.4);
    /* border-radius: 5px; */
    overflow: hidden;
  }
.toc summary {
  padding: 1rem;
  padding-left:20px;
  display: block;
  background: #333;
  /* padding-left: 2.2rem; */
  position: relative;
  cursor: pointer;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color:rgb(194, 191, 191);
}
.toc_copy summary {
    padding: 1rem;
    padding-left:20px;
    display: block;
    background: #333;
    /* padding-left: 2.2rem; */
    position: relative;
    cursor: pointer;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:rgb(194, 191, 191);
  }
.toc summary:hover {
    background: white;
    color:black
}
.toc_copy summary:hover {
    background: white;
    color:black
}
.toc ul {
    list-style:none;
    padding-left:0px;
    margin-top:0px;
    padding-bottom:10px
}
.toc_copy ul {
    list-style:none;
    padding-left:0px;
    margin-top:0px;
    padding-bottom:10px
}
.toc li{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    /* color:rgb(194, 191, 191); */
}
.toc_copy li{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    /* color:rgb(194, 191, 191); */
}
.toc a {
    text-decoration:none;
    cursor:pointer;
    transition: all 0.2s ease;
    display:block;
    color:rgb(158, 153, 153)
}
.toc_copy a {
    text-decoration:none;
    cursor:pointer;
    transition: all 0.2s ease;
    display:block;
    color:rgb(158, 153, 153)
}
.toc li:hover a{
    background: white;
}
.toc_copy li:hover a{
    background: white;
}
.Heading a{
    padding-left:40px;
    padding-top:10px;
    padding-bottom:10px;
    margin-top:15px;
}
.SubHeading a{
    padding-left:60px;
    padding-top:7px;
    padding-bottom:7px;
}
.SubSubHeading a{
    padding-left:90px;
    padding-top:4px;
    padding-bottom:4px;
}


.content{
    width:75%;
    flex-grow: 1;
    overflow-y: scroll;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.content p, h1, h2, h3, h4, h5, div, ul, details{
    width:100%;
    text-align:left;
}
.actual_content{
    width:75%;
}

.wrap{
    overflow-x: auto;
    overflow-y:hidden;
    white-space:nowrap;
    /* font-weight:bold; */
}
.header-link{
    text-decoration: none;
    font-size: 12px;
}
h2{
    margin-top:5%;
}
h3{
    margin-top:7%
}
h4{
    margin-top:4%;
    margin-bottom:0;
}

img {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}

.fixedContainer {
    position: fixed;
    right: 10px;
    bottom: 2px;
}

#toc li{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

details {
    user-select: none;
    background-color: hsl(214, 23%, 94%);
    padding:8px;
  }
  
  details>summary span.icon {
    width: 24px;
    height: 24px;
    transition: all 0.3s;
    margin-left: auto;
  }
  
  details[open] summary span.icon {
    transform: rotate(180deg);
  }
  
  summary {
    display: flex;
    cursor: pointer;
  }
  
  summary::-webkit-details-marker {
    display: none;
  }

/* This previous and next navigator is written by taking codes from this link: https://programmersportal.com/create-previous-and-next-buttons-in-html-css/ */
div.navigator>span > a{
    text-decoration: none;
    color: white;
    background: #dc3545;
    padding: 7px 10px;
    border-radius: 4px;  
    font-size: 19px;
}
div.navigator>span>a:hover{
    background: rgb(220 53 69 / 85%);
}
div.navigator>span>a:focus{
    outline: 3px solid rgb(220 53 69 / 50%);
    
}
div.navigator{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

@media screen and (max-width:990px) {
    .toc { flex-basis: 0%; }
    .toc {display:none;}
    .toc details {display: none;}
    div.toc_sidebar{transform: rotate(180deg);}
    .toc_copy {width:50%}
}
.toc::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

.mini_toc{
    list-style-type:none;
    display:flex;
    justify-content: center;
    align-items: center;
    background: #222;
    margin:0px;
    padding:0px;
    height: 70px;
    width:100%;
}
li:first-child {
    margin-right: auto;
    height:100%;
    vertical-align:middle;
    /* visibility: hidden; */
}
li:last-child {
    margin-right: auto;
    visibility: hidden;
}
@media screen and (min-width:990px) {
    .mini_toc { flex-basis: 0%; }
    .mini_toc { display: none; }
    .mini_toc > * {
        display:none;
    }
}
